---
import Layout from "@components/Layout.astro";
---
<Layout title="Aktualności - TRolling Stones">
  <section class="container py-12">
    <h1 class="text-3xl font-bold">Aktualności</h1>
    <div class="mt-6 rounded-lg border border-neutral-800 bg-black p-4">
      <div class="mx-auto w-full max-w-[560px]">
        <iframe
          title="Posty z Facebooka - TRolling Stones"
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fstones3city&tabs=timeline&width=500&height=1200&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=false"
          width="500"
          height="1200"
          style="border:none;overflow:hidden;width:100%;display:block;background:#000"
          scrolling="no"
          frameborder="0"
          allow="encrypted-media; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </section>
</Layout>

