---
interface Props {
  id: string;
  title?: string;
}

const { id, title = 'YouTube video' } = Astro.props as Props;
---
<div class="relative w-full" style="padding-top: 56.25%">
  <iframe
    class="absolute inset-0 h-full w-full rounded-lg border border-neutral-800"
    src={`https://www.youtube-nocookie.com/embed/${id}`}
    title={title}
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
